<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FDelivery service| FDelivery.com</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Bona+Nova&display=swap" rel="stylesheet">
</head>
<body>
    <nav id="navbar">
        <div id="logo">
            <img src="/static/logo.jpeg" alt="FDelivery.com">
        </div>

        <ul>
            <li class="item"><a href="#home">Home</a></li>
            <li class="item"><a href="#services-container">Services</a></li>
            <li class="item"><a href="#">About Us</a></li>
            <li class="item"><a href="#contact">Contact Us</a></li>
        </ul>

    </nav>

    <section id="home">
        <h1 class="h-primary">Welcome to FDelivery Meal</h1>
        <p>Delicious, tasty mouth watering food delivered to your door. Get food delivered to you from hundreds of amazing local and national restaurants. Order now to savour the food you crave.</p>
        <button class="btn">Order Now</button>
    </section>


</body>
</html>