<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Single Recipe || Final</title>
    <!-- favicon -->
    <!-- <link rel="shortcut icon" href="./assets/favicon.ico" type="image/x-icon" /> -->
    <!-- normalize -->
    <link rel="stylesheet" href="/static/recipes.css" />
    <!-- font-awesome -->
    <!-- <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    /> -->
    <!-- main css -->
    <!-- <link rel="stylesheet" href="/static/main.css" /> -->
  </head>
  <body>
    <!-- nav  -->
    <!-- <nav class="navbar">
      <div class="nav-center">
        <div class="nav-header"> -->
          <!-- <a href="index.html" class="nav-logo">
            <img src="./assets/logo.svg" alt="simply recipes" />
          </a> -->
          <!-- <button class="nav-btn btn">
            <i class="fas fa-align-justify"></i>
          </button>
        </div> -->
        <!-- <div class="nav-links">
          <a href="index.html" class="nav-link"> home </a>
          <a href="about.html" class="nav-link"> about </a>
          <a href="tags.html" class="nav-link"> tags </a>
          <a href="recipes.html" class="nav-link"> recipes </a>

          <div class="nav-link contact-link">
            <a href="contact.html" class="btn"> contact </a>
          </div>
        </div> -->
      </div>
    </nav>
    <!-- end of nav -->
    <main class="page">
      <div class="recipe-page">
        <section class="recipe-hero">
          <!-- <img
            src="./assets/recipes/recipe-4.jpeg"
            class="img recipe-hero-img"
          /> -->
          <article class="recipe-info">
            <h2>Aloo Poha</h2>
            <p>
                To begin making the Aloo Poha Recipe-Batata Poha Recipe, we will first rinse the poha or flattened rice under cold water and drain any excess water. 
                Using a large strainer for washing helps ease the rinsing process. 
                Transfer the rinsed rice to a large bowl; stir in the turmeric, salt, sugar, asafoetida and keep aside.
                Heat oil in a pan on medium heat; add the mustard seeds, cumin seeds and allow them to crackle.
                To begin making the Aloo Poha Recipe-Batata Poha Recipe, we will first rinse the poha or flattened rice under cold water and drain any excess water. 
                Using a large strainer for washing helps ease the rinsing process. 
                Transfer the rinsed rice to a large bowl; stir in the turmeric, salt, sugar, asafoetida and keep aside.
                Heat oil in a pan on medium heat; add the mustard seeds, cumin seeds and allow them to crackle.
                Once the poha is done turn off heat and stir in the freshly squeezed lemon juice, steamed peas, roasted peanuts and chopped coriander leaves. 
                Let the aloo poha sit covered for another minute.
            </p>
            <div class="recipe-icons">
              <article>
                <i class="fas fa-clock"></i>
                <h5>prep time</h5>
                <p>10 min.</p>
              </article>
              <article>
                <i class="far fa-clock"></i>
                <h5>cook time</h5>
                <p>15 min.</p>
              </article>
              <article>
                <i class="fas fa-user-friends"></i>
                <h5>serving</h5>
                <p>2 servings</p>
              </article>
            </div>
            <p class="recipe-tags">
              Tags : <a href="">#poha</a>
              <a href="">#breakfast</a>
              <a href="">#yum</a>
              <a href="">#food</a>
            </p>
          </article>
        </section>
        <!-- content -->
        <section class="recipe-content">
          <article>
            <h4>instructions</h4>
            <!-- single instruction -->
            <div class="single-instruction">
              <header>
                <p>step 1</p>
                <div></div>
              </header>
              <p>
                Chop required vegetables
             </p>
            </div>
            <!-- end of single instruction -->
            <!-- single instruction -->
            <div class="single-instruction">
              <header>
                <p>step 2</p>
                <div></div>
              </header>
              <p>
                Cook
              </p>
            </div>
            <!-- end of single instruction -->
            <!-- single instruction -->
            <div class="single-instruction">
              <header>
                <p>step 3</p>
                <div></div>
              </header>
              <p>
                Serve
              </p>
            </div>
            <!-- end of single instruction -->
          </article>
          <article class="second-column">
            <div>
              <h4>ingredients</h4>
              <p class="single-ingredient">poha</p>
              <p class="single-ingredient">chopped vegetables</p>
              <p class="single-ingredient">masalas</p>
            </div>
            <div>
              <h4>tools</h4>
              <!-- <p class="single-tool">Hand Blender</p> -->
              <p class="single-tool">Pan</p>
              <p class="single-tool">Spatula</p>
              <p class="single-tool">Measuring spoons</p>
            </div>
          </article>
        </section>
      </div>
    </main>
    <!-- footer -->
  </body>
</html>