<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Single Recipe || Final</title>
    <!-- favicon -->
    <!-- <link rel="shortcut icon" href="./assets/favicon.ico" type="image/x-icon" /> -->
    <!-- normalize -->
    <link rel="stylesheet" href="/static/recipes.css" />
    <!-- font-awesome -->
    <!-- <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    /> -->
    <!-- main css -->
    <!-- <link rel="stylesheet" href="/static/main.css" /> -->
  </head>
  <body>
    <!-- nav  -->
    <!-- <nav class="navbar">
      <div class="nav-center">
        <div class="nav-header"> -->
          <!-- <a href="index.html" class="nav-logo">
            <img src="./assets/logo.svg" alt="simply recipes" />
          </a> -->
          <!-- <button class="nav-btn btn">
            <i class="fas fa-align-justify"></i>
          </button>
        </div> -->
        <!-- <div class="nav-links">
          <a href="index.html" class="nav-link"> home </a>
          <a href="about.html" class="nav-link"> about </a>
          <a href="tags.html" class="nav-link"> tags </a>
          <a href="recipes.html" class="nav-link"> recipes </a>

          <div class="nav-link contact-link">
            <a href="contact.html" class="btn"> contact </a>
          </div>
        </div> -->
      </div>
    </nav>
    <!-- end of nav -->
    <main class="page">
      <div class="recipe-page">
        <section class="recipe-hero">
          <!-- <img
            src="./assets/recipes/recipe-4.jpeg"
            class="img recipe-hero-img"
          /> -->
          <article class="recipe-info">
            <h2>Vegetable soup</h2>
            <p>
                In a pan or pot, take 1 tablespoon oil. You can use olive oil or sunflower oil. You can also use butter.
                Add ½ teaspoon finely chopped garlic and ¾ teaspoon finely chopped ginger.
                Now add ½ cup finely chopped cabbage, ⅓ cup finely chopped carrots, ¼ to ⅓ cup finely chopped capsicum and ¼ cup finely chopped french beans.
                Sauté for 1 to 2 minutes on medium-low heat.
                Add Water and Seasonings
                Then add 3 cups water. If you have Homemade Vegetable Stock, you can add it at this point instead of the water.
                Season with ¼ teaspoon ground black pepper or according to your taste.
                Season with salt as needed.
                Grate about a pinch of nutmeg in the soup.
                Mix very well.
            </p>
            <div class="recipe-icons">
              <article>
                <i class="fas fa-clock"></i>
                <h5>prep time</h5>
                <p>30 min.</p>
              </article>
              <article>
                <i class="far fa-clock"></i>
                <h5>cook time</h5>
                <p>30 min.</p>
              </article>
              <article>
                <i class="fas fa-user-friends"></i>
                <h5>serving</h5>
                <p>2 servings</p>
              </article>
            </div>
            <p class="recipe-tags">
              Tags : <a href="tag-template.html">#soup</a>
              <a href="tag-template.html">#breakfast</a>
              <a href="tag-template.html">#healthy</a>
              <a href="tag-template.html">#food</a>
            </p>
          </article>
        </section>
        <!-- content -->
        <section class="recipe-content">
          <article>
            <h4>instructions</h4>
            <!-- single instruction -->
            <div class="single-instruction">
              <header>
                <p>step 1</p>
                <div></div>
              </header>
              <p>
                Chop required vegetables
             </p>
            </div>
            <!-- end of single instruction -->
            <!-- single instruction -->
            <div class="single-instruction">
              <header>
                <p>step 2</p>
                <div></div>
              </header>
              <p>
                Cook
              </p>
            </div>
            <!-- end of single instruction -->
            <!-- single instruction -->
            <div class="single-instruction">
              <header>
                <p>step 3</p>
                <div></div>
              </header>
              <p>
                Serve
              </p>
            </div>
            <!-- end of single instruction -->
          </article>
          <article class="second-column">
            <div>
              <h4>ingredients</h4>
              <p class="single-ingredient">water</p>
              <p class="single-ingredient">chopped vegetables</p>
              <p class="single-ingredient">masalas</p>
            </div>
            <div>
              <h4>tools</h4>
              <!-- <p class="single-tool">Hand Blender</p> -->
              <p class="single-tool">Pan</p>
              <p class="single-tool">Spatula</p>
              <p class="single-tool">Measuring spoons</p>
            </div>
          </article>
        </section>
      </div>
    </main>
  </body>
</html>